body {
  --top-color: #907b8478;
  --bottom-color: #ecd2b2;
  --gradient-top-bottom: linear-gradient(var(--top-color), var(--bottom-color));
  --gradient-bottom-top: linear-gradient(var(--bottom-color), var(--top-color));
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

#top-div {
  background-color: var(--top-color);
  padding-top: 30px;
  padding-bottom: 10vw;
  font-size: 1.5em;
}

#img-div {
  background-image: var(--gradient-bottom-top);
  height: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#bottom-div {
  background-color: var(--bottom-color);
  padding: 15vw 0 30px 0;
  line-height: 1.8;
}

#img-border-div {
  height: auto;
  width: 38.88vw;
  box-sizing: border-box;
  padding: 10px;
  background-image: linear-gradient(#e6bf9e, #907b84);
  border-radius: 50%;
  align-self: center;
  margin-top: 4%;
}

#img-container-div {
  height: auto;
  width: 100%;
  border-radius: inherit;
  overflow: hidden;
  display: flex;
}

img {
  align-self: center;
  transform: scale(1.6);
  opacity: 0.5;
  height: auto;
  max-width: 100%;
}

figcaption {
  padding: 15px;
  font-size: 12px;
}

h1 {
  color: var(--bottom-color);
  text-shadow: 1px 1px black;
  margin: 12px;
}

#biography {
  width: 45%;
  margin: 0 auto;
  text-align: justify;
}

#quotes {
  width: 35%;
  margin: 0 auto;
  padding: 50px;
  font-weight: bold;
  text-align: justify;
}

#quoted-by {
  display: block;
  text-align: right;
  font-size: 10px;
}

@media (max-width: 800px) {
  #biography, #quotes {
    width: 80%;
  }
}

@media (max-width: 650px) {
  #img-div {
    display: none;
  }

  #top-div {
    padding-bottom: 20px;
  }

  #bottom-div {
    padding-top: 20px;
  }
}
